<h1>Signup!</h1>

<div id="user_new">

  <%= form_for :user, url: 'users' do |f| %>

    name: <%= f.text_field :name %><br>
    Email: <%= f.text_field :email %><br>
    Password: <%= f.password_field :password %><br>
    Password Confirmation: <%= f.password_field :password_confirmation %><br>
    <%= f.submit "Submit" %>

  <% end %>

</div>
